.Card{
    margin: 10px auto;
}
.CardContent{
    display: flex;
    justify-content: space-between;
}

.Column{
    margin-right: 10px;
}

.List{
    list-style: none;
    padding: 0 0;
    margin: 0 0 ;
}

.Avatar{
    width: 90px !important;
    height: 90px !important;
}
.SocialLogo{
    width: 30px;
    height: 30px;
    position: relative;
    top: -12px;
    left: -18px;
}